@keyframes badge-hide {
  100% {
    opacity: 0;
    visibility: hidden;

    font-size: 0px;
  }
}

@keyframes badge-visible {
  100% {

    visibility: visible;

    width: 213px;
    height: 30px;
  }
}
