.rooms {
  padding: 239px 0px;

  // Media rooms
  @media (max-width: $xl) {
    padding: 27px 0px;
  }

  // Classes
  &-container {
    @media (min-width: $xl) {
      max-width: 1262px;
    }
  }

  &__content {
    @include row;
    justify-content: center;
    gap: 23px;

    @media (max-width: $xl) {
      flex-wrap: wrap;
      gap: 19px;
    }

    @media (max-width: $md) {
      gap: 32px;
    }
  }

  // H1 title
  &__title {
    color: $dark;

    font-size: 2.25rem;
    font-weight: 500;

    line-height: 55px;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 33px;

    @media (max-width: $md) {
      font-size: 1.5rem;
      font-weight: 700;

      line-height: 32px;
    }
  }

  // Cards
  &-card {
    @include column;
    justify-content: end;

    width: 100%;

    height: inherit;

    border-radius: $border-rad-card;

    position: relative;

    transition: all 0.1s ease;

    @media (min-width: $xl) {
      max-width: 372px;
      min-height: 372px;
    }

    @media (max-width: $xl) {
      max-width: 336px;
      min-height: 420px;
    }

    @media (max-width: $md) {
      max-width: 288px;
      min-height: 347px;
    }

    &::before {
      background: $gradient-1;
      border-radius: inherit;

      content: "";

      display: block;
      position: absolute;

      z-index: 1;
      width: 100%;
      height: 100%;

      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    &:hover {
      .rooms-card__motivator {
        animation: badge-visible 0.1s forwards;
      }
    }
  }

  &-card--active,
  &-card--reversed {
    cursor: pointer;

    &:hover {
      .rooms-card__motivator {
        display: none;
      }
    }

    &::before {
      background: linear-gradient(180deg, rgba(10, 34, 64, 0.1), #b4b4b4 100%);
    }
  }

  &-card--reversed {
    cursor: default;

    .rooms-card__info--payment .check-pay {
      display: none;
    }
  }

  // Bg
  &-card__bg {
    border-radius: inherit;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    margin: 0;

    height: 100%;
    width: 100%;

    user-select: none;
  }

  // Motivator
  &-card__motivator {
    @include row;

    visibility: hidden;

    width: 0px;
    height: 0px;

    position: static;
    padding-left: 24px;
    padding-top: 24px;

    z-index: 10;

    &-content {
      background: $accent;
      color: $white;

      padding: 4px 4px 0 16px;
      font-family: $main-font;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 21px;

      text-wrap: nowrap;
    }

    &-badge {
      position: static;
      width: 36px;
      height: 30px;
    }
  }

  // Content
  &-card__content {
    @include column;
    z-index: 10;
    padding: 24px;

    height: 100%;
    justify-content: end;

    @media (max-width: $md) {
      padding: 21px;
    }
  }

  &-card__content--active,
  &-card__content--reversed {
    padding: 0;

    .rooms-card__item {
      padding: 0 24px;
      pointer-events: none;

      @media (max-width: $md) {
        padding: 0 21px;
      }
    }

    .rooms-card__info {
      align-items: center;
      justify-content: center;

      background: $secondary;
      border-top: none;

      padding: 0px;

      width: 100%;
      height: 96px;
    }

    .rooms-card__info--payment {
      @include column;
    }

    .rooms-card__info--price,
    .rooms-card__btn {
      display: none;
    }
  }

  // Elements
  &-card__title {
    color: $white;

    font-size: 1.5rem;
    font-weight: 700;

    line-height: 32px;

    text-align: left;

    &:hover {
      color: $white;
    }

    @media (max-width: $md) {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 26px;
    }
  }

  &-card__desc {
    color: $white;

    line-height: 24px;

    @media (max-width: $md) {
      font-size: 0.875rem;
      line-height: 21px;
    }
  }

  // Info
  &-card__info {
    @include row;
    gap: 25px;

    padding-top: 17px;
    border-top: 2px solid rgba($white, 0.2);
    border-radius: $border-rad-card__pay;

    transition: all 0.1s;

    @media (max-width: $xl) {
      flex-direction: column;
      gap: 15px;
    }

    &--price {
      @include column;

      color: $white;
    }

    &--price--desc {
      font-family: $txt-font;
      font-size: 1rem;
      font-weight: 700;

      line-height: 24px;

      @media (max-width: $md) {
        font-size: 0.875rem;
        line-height: 21px;
      }
    }
  }

  &-card__info--price--value {
    .from {
      font-size: 1.188rem;
      font-weight: 700;

      line-height: 24px;

      @media (max-width: $md) {
        font-size: 1.063rem;
      }
    }

    .number {
      color: $color-primary-2;

      font-size: 1.5rem;
      font-weight: 700;
      line-height: 32px;

      @media (max-width: $md) {
        font-size: 1.25rem;
      }
    }

    .val {
      color: rgb(153, 153, 153);

      font-size: 1.438rem;
      line-height: 32px;

      @media (max-width: $md) {
        font-size: 1.25rem;
      }
    }
  }

  &-card__info--payment {
    align-items: center;
    display: none;

    color: $white;

    font-size: 0.875rem;
    font-weight: 600;
    line-height: 21px;

    .pay {
      color: $color-primary-2;
    }
  }

  // Btns
  &-card__btn {
    background-color: $color-primary-1;
    border-radius: $border-rad-btn;

    color: $white;

    transition: all 0.1s;

    width: 100%;
    max-width: 180px;
    height: 48px;

    &:hover {
      background-color: $color-primary-3;
      box-shadow: 0px 4px 4px 0px rgba($dark, 0.25);
    }

    @media (max-width: $xl) {
      max-width: 288px;
    }

    &--active {
      background-color: $color-primary-3;
      color: rgb(249, 99, 124);

      pointer-events: none;
    }

    &--reversed {
      pointer-events: none;
    }
  }
}
